@font-face {
  font-family: amatic;
  src: url('../Material_Multimedia/AmaticSC-Regular.ttf');
}

.landing_pague {
  background-image: url(../Material_Multimedia/FondoLanding.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
  overflow: hidden;
  margin: -1ch;
}

.Titulo {
  
  font-family: amatic;
  color: blue;
  position: absolute;
  top: 0px;
  left: 430px;
  font-size: 150px;
}

.boton {
    appearance: none;
    background-color: #FFFFFF;
    border-radius: 40em;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,sans-serif;
    font-weight: 700;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
  font-family: amatic;
  color: blue;
  position: absolute;
  top: 300px;
  left: 580px;
  font-size: 100px;
}

.boton:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.boton:active {
  transform: scale(1.025);
}
