.card{
 display: flex;
 background-color: rgba(16, 41, 12, 0.6);
 flex-direction: row-reverse;
 margin: 0.5rem;
 width: 31.3rem;
 align-items: center;
 height: 5.5rem;
 border-radius: 1rem;
 box-shadow: rgb(7, 7, 7) 0px 0px 10px;
 gap: 0.8rem;
}

.textos{
  width: 20rem;
  padding-bottom: 0.7rem;
  margin-right: -1rem;
}

.bandera{
  height: 76px;
  width: 16ch; 
  border-radius: 1rem 0mm 0mm 1rem;
  object-fit: cover;
  box-shadow: rgb(7, 7, 7) 0px 0px 10px;
}

.nombre{
  color: rgb(2, 2, 95);
  font-size: 200%;
  white-space: pre;
  font-family: amatic;
  margin-bottom: -0.5rem;
  text-shadow: white 0px 0px 6px;
  text-decoration: underline;
}

.continente{
  font-size: 150%;
  color: rgb(78, 16, 16);
  white-space: pre;
  text-decoration: underline;
  text-shadow: white 0px 0px 8px;
}

.cerrar{
  background-color: rgba(178, 248, 107, 0.678);
  border-radius: 5mm;
  font-size: 150%;
}
.cerrar:hover{
  transition: 300ms;
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: rgb(74, 255, 2) 0px 0px 10px;
  background-color: rgb(124, 248, 0);
}

.detailCerrar{
  margin-top: 3rem;
  margin-right: 0.3rem;
}

.detalle{
  font-size: 150%;
  background-color: rgb(221, 255, 0);
  border-radius: 1rem;
  box-shadow: rgb(7, 7, 7) 0px 0px 10px;
}

.detalle:hover{
  transition: 300ms;
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: rgb(74, 255, 2) 0px 0px 10px;
  background-color: rgb(124, 248, 0);
}
