@font-face {
  font-family: amatic;
  src: url('../Material/AmaticSC-Regular.ttf');
}

.landing_pague {
  background-image: url(../../../Material/f1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
  overflow: hidden;
  margin: -1ch;
}

.Titulo {
  font-family: amatic;
  color: rgb(72, 255, 0);
  position: absolute;
  top: -20px;
  left: 330px;
  font-size: 190px;
  text-shadow: #000000 0px 8px 6px;
}

.boton {
  appearance: none;
  background-color: #ffffff;
  border-radius: 40em;
  border-style: none;
  box-shadow: #997dff 0 0px 8px 8px inset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 3px 5rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  touch-action: manipulation;
  font-family: amatic;
  color: blue;
  position: absolute;
  top: 370px;
  left: 535px;
  font-size: 100px;
}

.boton:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 0px 8px 8px inset;
  transform: scale(1.125);
}

.boton:active {
  transform: scale(1.025);
}

.simbolo{
  position: relative;
  left: 6px;
  top: 1px;
  margin: -17%;
  width: 120px;
}